<div class="section-label">Hourly Forecast</div>
<div class="strip-wrap">
  <div class="strip">
    <div
      class="hour-item"
      *ngFor="let h of hours"
      [class.now]="isCurrentHour(h.time)"
    >
      <span class="time">{{
        isCurrentHour(h.time) ? "Now" : getHourLabel(h.time)
      }}</span>
      <img [src]="h.icon" [alt]="h.condition_code" class="icon" />
      <span class="temp">{{ h.temperature | number: "1.0-0" }}°</span>
      <span class="rain" *ngIf="h.precipitation_probability > 10">
        {{ h.precipitation_probability }}%
      </span>
    </div>
  </div>
</div>
